<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} {% endblock %} - Fast API</title>
    {% endblock %}
</head>
<body>

    <div class="container">
        {% block content %}
            <ul>
                <li>Tarea ejemplo</li>
            </ul>
        {% endblock %}
    </div>
    
    
    {% block footer %}
        <!-- <p> DL by <a href="http://www.elnorte.com"></a> </p>  -->
        <p> DL by <a href="#">Contact</a> </p> 
    {% endblock %}
</body>
</html>